.title_default {
    position: relative;
    top: 0.1em;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.class_content {
    top: 3em;
    border-radius: 20px;
    color: white;
    font-size: 2em;
}

.exp_default {
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: red;
}

.img_slide {
    width: 640px;
    height: 340px;
    border-radius: 30px;
}

#carouselSold {
    width: 50%;
    margin-left: 720px;
}

#carouselReduction {
    width: 50%;
    margin-top: -510px;
    margin-left: -50px;
}

.carousel_inner {
    width: auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    margin-top: 90px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    margin-top: 90px;
}

.discount {
    background-color: orangered;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    padding: 20px 22px 22px 23px;
    position: absolute;
    margin-top: -85px;
    margin-left: 522px;
}

.LblDiscount {
    font-weight: 700;
    font-size: 30px;
}

/*Media Queries pour Tablette*/
@media only screen and (max-width: 1200px) {
    .img_slide {
        max-width: 500px; 
    }

    #carouselSold, #carouselReduction {
        max-width: 80%; 
    }
}

/* Ajustements pour mobiles */
@media only screen and (max-width: 768px) {
    .img_slide {
        max-width: 400px; 
    }

    #carouselSold, #carouselReduction {
        max-width: 90%; 
    }
}

@media only screen and (max-width: 480px) {
    .img_slide {
        max-width: 100%;
    }

    #carouselSold, #carouselReduction {
        max-width: 100%;
        margin-top: 0;
        margin-left: 40px;
        width: 80%;
    }

    .exp_default {
        font-size: 0.8em;
        text-align: center;
    }

    .logo_footer {
        width: 10em;
        height: 10em;
        margin-left: 100px;
        margin-top: 0px;
    }

    .footerWidget {
        margin-top: 170px;
        color: white;
        margin-left: -175px;
    }

    .footerWidget2 {
        margin-top: 400px;
        color: white;
        margin-left: -190px;
    }

    .photo_login {
        width: 2em;
        height: 2em;
        margin-left: 53px;
        margin-top: 5px;
    }

    #div_content_footer {
        display: flex;
        position: relative;
        width: 0%;
    }

    .mon_compte {
        margin-left: 0px;
    }
}