.main_account, .hello {
    padding: 20px 13px;
    position: relative;
    overflow: hidden;
    color: white;
    
}

.hello {
    backdrop-filter: blur(30px) saturate(100%);
    width: 35%;
}

.div_aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left_aside, .right_aside {
    flex: 1 1 200px;
}

.btnDisconnect {
    border: 2px solid #e61414;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px 10px 0;
    padding: 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
}

    .btnDisconnect:hover {
        background-color: #e61414;
        color: white;
    }

.right_aside {
    margin-top: 20px;
}

.cvg, .description_cvg, .info_container_ce, .div_btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info_container, .info_container_second, .info_container_ce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.img_game {
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
}

.TxtBoxDescription, .cvg_menu {
    width: 100%;
}

.cvg {
    backdrop-filter: blur(30px) saturate(100%);
}

.TxtBoxDescription{
    height: 200px;
}

@media (max-width: 768px) {
    .left_aside, .right_aside {
        width: 100%; 
        margin-top: 10px;
        margin-left: 0;
    }

    .img_game {
        max-width: 100%;
    }

    .btnDisconnect {
        width: 100%;
        margin: 10px 0;
    }

    .title_game, .price_game, .qte_game, .genre_game {
        margin-left: 10px;
    }

    .hello {
        backdrop-filter: blur(30px) saturate(100%);
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title_menu, .cvg_menu, .title_game, .price_game, .qte_game, .genre_game {
        text-align: center;
        margin-left: 0;
    }

    .hello {
        backdrop-filter: blur(30px) saturate(100%);
        width: 100%;
    }
}
