.main_account, .hello {
    padding: 20px 13px;
    position: relative;
    overflow: hidden;
    color: white;
    
}

.div_aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante sur des petits écrans */
}

.left_aside {
    flex: 1; /* Prendra 1 part de l'espace disponible */
    min-width: 150px; /* Minimum width to maintain readability */
}

.btnDisconnect {
    border: 2px solid #e61414;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
    width: auto; /* Allow button width to grow with text */
    margin-bottom: 10px;
}

.right_aside {
    margin: 20px auto;
    max-width: 90%;
}

.hc, .hc_menu {
    width: 100%; /* Ensure it does not exceed the screen width */
    max-width: 900px; /* Original fixed width as max-width */
}

.img_game {
    width: 100%; /* Make image responsive */
    max-width: 270px; /* Original width */
    margin-left: 20px;
    border-radius: 20px;
}

.statut_command, .separate_content {
    margin-left: 0; /* Remove fixed left margin */
    width: 100%;
    max-width: 550px; /* Adjust as necessary */
}

.hello {
    backdrop-filter: blur(30px) saturate(100%);
    width: 25%;
}

.hc {
    backdrop-filter: blur(30px) saturate(100%);
}

@media (max-width: 768px) {
    .btnDisconnect {
        width: 100%; /* Full width for easier clickability on mobile */
    }

    .hc, .hc_menu {
        flex-direction: column; /* Stack child elements vertically on smaller screens */
    }

    .hello {
        backdrop-filter: blur(30px) saturate(100%);
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title_menu, .hc_menu {
        text-align: center; /* Center content on very small screens */
    }

    .right_aside {
        margin-left: 10px; /* Adjust margins for small screens */
    }

    .hello {
        backdrop-filter: blur(30px) saturate(100%);
        width: 100%;
    }
}
