.main_account, .hello {
    padding: 20px 13px;
    position: relative;
    overflow: hidden;
    color: white;
    
}

.div_aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si l'espace est insuffisant */
}

.left_aside {
    flex: 1; /* Adapte automatiquement la largeur disponible */
    min-width: 150px; /* Largeur minimale pour éviter que le texte ne se superpose */
}

.btnDisconnect, .btnValidate, .btnChangePassword {
    border: 2px solid #e61414;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
    margin-bottom: 10px; /* Uniformise les marges pour la cohérence */
    width: auto; /* Permet au bouton de s'adapter au contenu */
}

.right_aside, .mi_password {
    margin: 20px auto; /* Centrer et ajouter une marge pour toutes tailles */
    max-width: 90%; /* Empêche l'élément de devenir trop large */
}

.hc, .hc_menu, .mi_left {
    width: 100%; /* S'assure que la largeur ne dépasse pas l'écran */
}

.img_game {
    width: 100%; /* Adapte la largeur de l'image à son conteneur */
    max-width: 270px; /* Conserve la largeur maximale originale */
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Crée autant de colonnes que possible */
}

.title_menu{
    text-align: center;
}

.mi{
    text-align: center;
}

.btn_validate {
    text-align: center;
}

.mi_password {
    text-align: center;
}

.hello {
    width: 35%;
    backdrop-filter: blur(30px) saturate(100%);
}

.PnlHistCommand {
    backdrop-filter: blur(30px) saturate(100%);
}

.PnlModifInfos {
    backdrop-filter: blur(30px) saturate(100%);
}


@media (max-width: 768px) {
    .btnDisconnect, .btnValidate, .btnChangePassword {
        width: 100%; /* Étend les boutons pour une meilleure accessibilité sur les appareils mobiles */
        margin: 10px 0; /* Assure l'espacement autour des boutons */
    }

    .div_aside, .hc, .mi {
        flex-direction: column;
    }

    .hello{
        width: 100%;
    }
}
