.title_cart {
    color: white;
    text-align: center;
}

.content_cart {
    color: white;
    backdrop-filter: blur(30px) saturate(100%);
    width: 80%;
}

.img_game {
    width: 300px;
}

.contenu_game {
    display: inline-block;
    position: absolute;
}

.contenu2_game {
    margin-top: 50px;
    margin-left: 235px;
}

.PnlCart {
    margin: 0;
    padding: 0;
    width: 800px;
    display: inline-block;
}

.PnlSubmitCart {
    color: white;
    float: right;
    display: grid;
}

.btn {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    color: #fff;
    border: 3px solid #eee;
}

.LblEmpty {
    color: white;
    margin-left: 540px;
}

.BtnSuppr {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    color: #fff;
    border: 3px solid #eee;
    margin-left: -200px;
}

.LblPrice {
    display: block;
}

#calendarContainer {
    color: white;
}

/* Media Queries pour rendre la page responsive */
@media (max-width: 1024px) { 
    .img_game {
        width: 50%; /* Réduction de la taille de l'image */
        max-width: 300px; /* Pour maintenir la largeur maximale */
        margin: auto; /* Centrage de l'image */
    }

    .contenu_game, .contenu2_game {
        position: static; /* Suppression du positionnement absolu */
        margin: 20px auto; /* Centrage et ajout d'espace autour */
        text-align: center; /* Alignement du texte */
        width: auto; /* Adaptation de la largeur */
    }

    .PnlCart {
        width: 100%; /* Adaptation de la largeur */
    }

    .PnlSubmitCart {
        float: none;
        margin-top: 20px; /* Ajout d'espace au-dessus pour la clarté */
    }

    .LblEmpty, .BtnSuppr {
        margin-left: 0; /* Suppression de la marge spécifique */
    }
}

@media (max-width: 768px) { 
    .content_cart {
        width: 95%; /* Augmentation de la largeur pour les petits écrans */
    }

    .img_game {
        width: 70%; /* Augmentation de la taille de l'image pour la visibilité */
    }

    .btn, .BtnSuppr {
        width: 100%; /* Boutons pleine largeur pour faciliter l'accès */
        margin: 10px 0; /* Ajout d'espace autour des boutons */
    }
}