

.title_default {
    position: relative;
    top: 0.1em;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.class_content {
    top: 3em;
    border-radius: 20px;
    color: white;
    font-size: 2em;
}

.exp_default {
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: red;
}

.separate {
    margin: 1rem 0;
    color: white;
    opacity: 2;
}

.img_slide {
    width: 640px;
    height: 340px;
    border-radius: 30px;
}

#carouselSold {
    width: 50%;
    margin: auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}